.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 494px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 0 21px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Archivo Narrow";
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1;
  letter-spacing: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 19px 78px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 494px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 20px 30px;
}

.u-section-1 .u-image-1 {
  width: 618px;
  height: 349px;
  margin: 30px -1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-1 .u-image-1 {
    width: 503px;
    height: 284px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-1 .u-image-1 {
    width: 378px;
    height: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 21px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 186px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 382px;
}

.u-section-2 .u-text-1 {
  margin: 72px 49px 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 49px 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 49px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 49px 0;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 49px 60px 71px;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

.u-section-2 .u-btn-6 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 700px;
    height: 39px;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    line-height: 25.6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}